Repository R-evolucionarios-GIC/ChatGIC, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, dependencies, ci-cd

.github/labeler.yml:

"frontend":
  - changed-files:
      - any-glob-to-any-file: "frontend/**/*"

"backend":
  - changed-files:
      - any-glob-to-any-file: "backend/**/*"

"documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
      - any-glob-to-any-file: "docs/**/*"

"dependencies":
  - changed-files:
      - any-glob-to-any-file: "frontend/package.json"
      - any-glob-to-any-file: "frontend/package-lock.json"
      - any-glob-to-any-file: "frontend/yarn.lock"
      - any-glob-to-any-file: "backend/package.json"
      - any-glob-to-any-file: "backend/package-lock.json"
      - any-glob-to-any-file: "backend/yarn.lock"

"ci-cd":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
      - any-glob-to-any-file: ".gitlab-ci.yml"
      - any-glob-to-any-file: "docker-compose*.yml"
      - any-glob-to-any-file: "Dockerfile*"
      - any-glob-to-any-file: ".dockerignore"

"enhancement":
  - head-branch: ["perf", "add", "improve", "feat"]

"bug":
  - head-branch: ["fix", "hotfix", "bug"]

"refactor":
  - head-branch: ["refactor", "chore"]

"ignore":
  - head-branch: ["ci", "test"]
  - base-branch: ["release/"]

chore: basic project structure
  .github/workflows/sync-to-staging.yml
  .gitignore
  backend/.env.example
  backend/README.md
  backend/app/main.py
  backend/package.json
  backend/requirements.txt
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc
  frontend/package.json
  frontend/src/index.html
  frontend/src/scripts/main.js
  frontend/src/styles/main.css
Labels: frontend, backend, documentation, dependencies, ci-cd

chore: disable tests and linting in sync-to-staging workflow
  .github/workflows/sync-to-staging.yml
Labels: ci-cd

chore: add package-lock.json for frontend dependencies
  frontend/package-lock.json
Labels: frontend, dependencies

feature: log in and sign up screens
  frontend/README.md
  frontend/assets/background/background-sign.png
  frontend/assets/figma-screens/home/admin.png
  frontend/assets/figma-screens/home/home.png
  frontend/assets/figma-screens/sign/in.png
  frontend/assets/figma-screens/sign/up.png
  frontend/assets/icons/eye.svg
  frontend/assets/icons/logo-site.png
  frontend/screens/home/home.html
  frontend/screens/home/styles.css
  frontend/screens/sign/in.html
  frontend/screens/sign/script.js
  frontend/screens/sign/styles.css
  frontend/screens/sign/up.html
Labels: frontend, documentation

change requests done
  frontend/README.md
  frontend/src/assets/background/background-sign.png
  frontend/src/assets/figma-screens/home/admin.png
  frontend/src/assets/figma-screens/home/home.png
  frontend/src/assets/figma-screens/sign/in.png
  frontend/src/assets/figma-screens/sign/up.png
  frontend/src/assets/icons/eye.svg
  frontend/src/assets/icons/logo-site.png
  frontend/src/screens/home/home.html
  frontend/src/screens/home/styles.css
  frontend/src/screens/sign/in.html
  frontend/src/screens/sign/script.js
  frontend/src/screens/sign/styles.css
  frontend/src/screens/sign/up.html
Labels: frontend, documentation

feature: home screen
  frontend/screens/home/chat.js
  frontend/screens/home/home.html
  frontend/screens/home/styles.css
  frontend/screens/home/websocket.js
Labels: frontend

Create guia_ingestao.md
  guia_ingestao.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

define modelo de requisição
  backend/app/main.py
Labels: backend
