Repository R-evolucionarios-GIC/ChatGIC, pull requests merged in 2025-02, with the labels that each got.

#5 feature: log in and sign up screens
  frontend/README.md
  frontend/src/assets/background/background-sign.png
  frontend/src/assets/figma-screens/home/admin.png
  frontend/src/assets/figma-screens/home/home.png
  frontend/src/assets/figma-screens/sign/in.png
  frontend/src/assets/figma-screens/sign/up.png
  frontend/src/assets/icons/eye.svg
  frontend/src/assets/icons/logo-site.png
  frontend/src/screens/home/home.html
  frontend/src/screens/home/styles.css
  frontend/src/screens/sign/in.html
  frontend/src/screens/sign/script.js
  frontend/src/screens/sign/styles.css
  frontend/src/screens/sign/up.html
Labels: documentation, enhancement, frontend

#6 feature: home screen
  frontend/README.md
  frontend/assets/background/background-sign.png
  frontend/assets/figma-screens/home/admin.png
  frontend/assets/figma-screens/home/home.png
  frontend/assets/figma-screens/sign/in.png
  frontend/assets/figma-screens/sign/up.png
  frontend/assets/icons/eye.svg
  frontend/assets/icons/logo-site.png
  frontend/screens/home/chat.js
  frontend/screens/home/home.html
  frontend/screens/home/styles.css
  frontend/screens/home/websocket.js
  frontend/screens/sign/in.html
  frontend/screens/sign/script.js
  frontend/screens/sign/styles.css
  frontend/screens/sign/up.html
Labels: documentation, enhancement, frontend

#7 Feature/dados ic
  frontend/src/assets/background/background-sign.png
  frontend/src/assets/figma-screens/home/admin.png
  frontend/src/assets/figma-screens/home/home.png
  frontend/src/assets/figma-screens/sign/in.png
  frontend/src/assets/figma-screens/sign/up.png
  frontend/src/assets/icons/eye.svg
  frontend/src/assets/icons/logo-site.png
  frontend/src/screens/home/home.html
  frontend/src/screens/home/styles.css
  frontend/src/screens/sign/in.html
  frontend/src/screens/sign/script.js
  frontend/src/screens/sign/styles.css
  frontend/src/screens/sign/up.html
  guia_ingestao.md
Labels: documentation, enhancement, frontend

#9 Staging
  frontend/README.md
  frontend/assets/background/background-sign.png
  frontend/assets/figma-screens/home/admin.png
  frontend/assets/figma-screens/home/home.png
  frontend/assets/figma-screens/sign/in.png
  frontend/assets/figma-screens/sign/up.png
  frontend/assets/icons/eye.svg
  frontend/assets/icons/logo-site.png
  frontend/screens/home/chat.js
  frontend/screens/home/home.html
  frontend/screens/home/styles.css
  frontend/screens/home/websocket.js
  frontend/screens/sign/in.html
  frontend/screens/sign/script.js
  frontend/screens/sign/styles.css
  frontend/screens/sign/up.html
  guia_ingestao.md
Labels: documentation, frontend

#10 Update README.md
  README.md
Labels: documentation, ignore

#11 Staging
  backend/app/main.py
Labels: backend
